# Build output
target/
build/

# Maven wrapper
.mvn/wrapper/maven-wrapper.jar

# Logs and temp
*.log
*.tmp
*.bak
*.swp

# Spring Boot config (local overrides)
application-*.yml
application-*.properties

# IntelliJ IDEA
.idea/
*.iml


# VS Code
.vscode/

# Mac OS
.DS_Store

.env
application.properties