# Build output
target/
build/

# Maven wrapper
.mvn/wrapper/maven-wrapper.jar

# Logs and temp
*.log
*.tmp
*.bak
*.swp

# Spring Boot config (local overrides)
application-*.yml
application-*.properties

# IntelliJ IDEA
.idea/
*.iml

# Eclipse
.classpath
.project
.settings/
.apt_generated
.factorypath
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# Mac OS
.DS_Store

.env
application.properties